# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

apps/hyper/ligra.h
apps/hyper/graph.h
apps/hyper/compressedVertex.h
apps/hyper/vertex.h
apps/hyper/utils.h
apps/hyper/IO.h
apps/hyper/parallel.h
apps/hyper/gettime.h
apps/hyper/index_map.h
apps/hyper/maybe.h
apps/hyper/sequence.h
apps/hyper/edgeMap_utils.h
apps/hyper/binary_search.h
apps/hyper/quickSort.h
apps/hyper/blockRadixSort.h
apps/hyper/transpose.h
apps/hyper/parseCommandLine.h
apps/hyper/byte.h
apps/hyper/byteRLE.h
apps/hyper/nibble.h
apps/hyper/byte-pd.h
apps/hyper/byteRLE-pd.h
apps/hyper/nibble-pd.h
apps/hyper/vertexSubset.h
apps/hyper/decoder.C
apps/hyper/hypergraphIO.h
apps/hyper/hygra.h
apps/hyper/bucket.h
apps/hyper/counting_sort.h
apps/hyper/dyn_arr.h
apps/hyper/edgeMapReduce.h
apps/hyper/histogram.h
apps/hyper/sequentialHT.h
apps/hyper/hypergraphEncoder.C
apps/hyper/hypergraphDecoder.C
apps/hyper/freqCount.h
apps/hyper/randHypergraph.C
apps/hyper/sampleSort.h
apps/hyper/sparseSet.h
apps/hyper/serialHash.h
utils/utils.h
utils/parseCommandLine.h
utils/parallel.h
utils/quickSort.h
utils/blockRadixSort.h
utils/transpose.h
apps/hyper/._BipartiteButterflies.C
apps/hyper/._butterfly_utils.h
apps/hyper/._butterfly_count.h
apps/hyper/._butterfly_ecount.h
apps/hyper/._butterfly_peel.h
apps/hyper/._butterfly_epeel.h
apps/hyper/._butterfly_putils.h
apps/hyper/._parse_bb.py
apps/hyper/._run_bb
apps/hyper/.vscode/
._nucleus-master
lib/.vscode/
apps/hyper/out.*
apps/hyper/a.out
.DS_Store
apps/hyper/._butterfly_count_total.h
